.dogprofile-container {
  min-width: fit-content;
  background-color: #c2a88f;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.avatar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-container-name {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
.pencil-circle {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  border-radius: 0 0 40px 40px;
}
.pencil {
  text-decoration: none;
  color: #604a33;
  width: 25px;
  height: 25px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.info-primer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-box {
  display: flex;
  flex-direction: column;
  background-color: #ecdfcd;
  border-radius: 12px;
}
.info-box > * {
  list-style: none;
  padding: 0;
  margin: 10px;
  color: #413d40;
}

.info-box p {
  font-size: 15px;
  color: #413d40;
}
.info-box li {
  margin: 10px 0;
}

.info-box li:first-child {
  margin-top: 0;
}

.traits-container {
  width: 100%;
}

.traits-container h2 {
  font-size: 20px;
  color: #604a33;
}
.info-box span {
  font-weight: bold;
}

.traits-box {
  height: 10vh;
  background-color: #604a33;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.traits-box > * {
  color: #ecdfcd;
  margin: 10px;
}

.dog-name {
  font-size: 30px;
  font-weight: 900;
}

.delete-dog-button {
  background-color: #f44336;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.delete-dog-button:hover {
  background-color: #d32f2f;
}

.info-box-description p {
  margin-top: 0;
}
