.background-dogprofile {
  background-color: #c2a88f; /* Color de fondo marrón clarito */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.dogprofile-container {
   /* Tamaño máximo del contenedor */
  padding: 20px; /* Espaciado interno */
  background-color: #c2a88f; /* Color de fondo marrón clarito */
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
}
.avatar-container-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
.pencil-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.pencil {
  width: 30px;
  height: 30px;
  margin-left: 4px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.info-primer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vh;
  height: 20vh;
  margin-bottom: 10px;
  border: 1px solid #f0d6f0;
  background-color: #ecdfcd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px #6e676d;
}

.info-box h3 {
  margin-top: -5px;
  margin-left: 5px;
  color: #413d40;
}
.info-box p {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 10px;
  color: #413d40;
}

.traits-container {
  margin-top: -60px;
}

.traits-container h2 {
  font-size: 20px;
  margin-top: 70px;
  color: #604a33
}

.traits-box {
  margin-top: 10px;
  height: 10vh;
  width: 54vh;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.traits-box h3 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

.traits-box p {
  margin-top: 8px;
  margin-left: 5px;
  font-size: 15px;
}

.dog-name {
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.delete-dog-button {
  margin-top: 20px;
  background-color: #f44336; /* Rojo */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.delete-dog-button:hover {
  background-color: #d32f2f; /* Rojo más oscuro */
}
