.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0d6e6;
  gap: 50px;
  /* Ajusta la altura del contenedor al 100% del viewport */
}

.logo {
  width: 200px;
  height: 200px; /* Ajusta el espacio entre el logo y el formulario */
}

.container-buttons {
  display: flex;
  flex-direction: column;
}
