.background {
  background-color: #c2a88f; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.login-container {
  margin-top: 100px;
  max-width: 400px;
  background-color: #c2a88f; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 20px; 
}

.container-buttons-login {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
