.register-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0efd6;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
}

.image-canva {
  background: #d9d9d9;
  border: 8px solid #a58466;
  outline: 8px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.image-canva img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-buttons {
  display: flex;
  flex-direction: column;
}
