/* Estilos para el formulario */
.dog-create-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para los inputs de texto */
.dog-input {
  margin-bottom: 20px;
  border-radius: 15px;
}

/* Estilos para los inputs de texto */
.dog-input input[type="text"],
.dog-input input[type="date"],
.dog-input select {
  width: 100%;
  padding: 10px;
  border-radius: 5px; /* Borde redondeado */
}

.dog-input input[type="text"]:focus,
.dog-input input[type="date"]:focus,
.dog-input select:focus {
  outline: none;
  border-color: #61513f; /* Color cuando está enfocado */
}


.dog-input label {
  font-size: 20px;
  color: #666;
}

/* Estilos para los mensajes de error */
.error-message {
  color: rgb(34, 27, 27);
  font-size: 12px;
}

/* Estilos para el botón */
.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}


