/* Estilos para el formulario */
.dog-create-container {
  margin-bottom: 90px;
  margin-top: 25px;
}
.container-vaccines {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

/* Estilos para los inputs de texto */
.dog-input {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 320px;
  height: 30px;
  border: 1px solid rgb(205, 192, 172);
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 15px;
}
.input-avatar {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 320px;
  height: 50px;
  border: 1px solid rgb(205, 192, 172);
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 15px;
}

.file-input-wrapper {
  position: absolute;
}
.icon-upload-image {
  position: relative;
  top: 200px;
  left: 60px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background: #ffffff;
  color: #604a33;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.input-file {
  position: absolute;
  top: -100;
  opacity: 0;
  cursor: pointer;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dog-input-label {
  font-size: 10px;
  color: #000000;
}

/* Estilos para los mensajes de error */
.error-message {
  color: rgb(34, 27, 27);
  font-size: 12px;
}

/* Estilos para el botón */
.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog-input-selector {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 340px;
  height: px;
  border: 1px solid rgb(205, 192, 172);
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 15px 0;
  margin-bottom: 15px;
}

/* Ajustes específicos para Safari */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .dog-input {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}
.dog-input-selector:focus {
  border: none;
}

.input-dog-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dog-input-image {
  position: relative;
  box-sizing: border-box;
  border: 4px solid #a58466;
  outline: 4px solid #ffffff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.dog-input-label {
  margin: 5px 0;
  align-self: self-start;
}
.icon-upload-image-edit-dog {
  position: relative;
  top: 0;
  left: 0;
}
