.username {
  display: flex;
  justify-content: center;
}

.image-canva {
  border: 8px solid #a58466;
  outline: 6px solid #ffffff;
  margin: 20px;
  width: 80px;
  height: 80px;
}

.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
