.delete-container {
  margin-top: -140px;
}

.edit-profile-container {
  margin-bottom: 90px;
  margin-top: 25px;
}
.background-editdog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
