.delete-container {
    margin-top: -140px;
}

.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background-editdog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}