.reminder-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  border: 1px solid rgb(205, 192, 172);
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
}

.newreminder-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.reminder-input-container label {
  margin-bottom: 4px; /* Espaciado inferior */
}

.reminder-input-container button {
  margin-top: 10px;
}
.newreminder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.reminder-form-repeat {
  align-self: center;
}
.btn-reminder-new {
  margin: 20px 0;
  align-self: center;
}
