.react-calendar {
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  border: none;
}
.react-calendar__navigation {
  margin-bottom: 0;
}

.react-calendar__navigation button {
  min-width: 44px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #604a33;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #947c65;
  border-radius: 20px;
  color: #fff;
}

.react-calendar__navigation button[disabled] {
  background-color: transparent;
}

abbr {
  align-self: center;
  text-decoration: none;
  color: #604a33;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #947c65;
  color: #fff;
  border-radius: 50%;
}

.react-calendar__tile--now {
  color: #b99169;
  font-weight: bolder;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: #604a33;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background-color: transparent;
  color: #879281;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background: #8e6c49;
  font-weight: bold;
  color: #604a33;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #8e6c49;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile {
  background: transparent;
  border-radius: 0;
}

/* Custom styles for events on calendar */
.react-calendar__tile--event {
  background-color: #b56576;
  color: white;
  padding: 2px 6px;
  font-size: 12px;
}

.react-calendar__tile--event:hover,
.react-calendar__tile--event:focus {
  background-color: #8e6c49; /* Hover color */
}

.react-calendar__month-view__days__day {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: #604a33;
  overflow: hidden;
  margin-inline-end: 0px;
  flex-direction: column;
}

.react-calendar__tile {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
}

.react-react-calendar__month-view {
  display: flex;
}

.react-calendar__tile:disabled {
  background-color: #fff;
  color: #a8a6a3;
}
.react-calendar__tile:disabled abbr {
  color: #b9a671;
}

.react-calendar__month-view__days__day--weekend {
  color: #604a33;
}

.react-calendar__navigation__arrow,
.react-calendar__navigation__prev-button {
  background-color: #fff;
}

.reminders-page {
  padding: 20px 0;
  background-color: #c2a88f;
}
.reminders-page h2 {
  text-align: center;
}

.reminder-new {
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #604a33;
}

.react-calendar__month-view__weekdays__weekday {
  background-color: #fff;
}

.react-calendar-container {
  margin: 20px;
}
