.reminder-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Ancho del contenedor al 100% */ /* Máximo ancho del contenedor */
  border: 1px solid rgb(205, 192, 172);
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
}

.newreminder-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reminder-input-container input,
.reminder-input-container select {
  width: 100%; /* Ancho del input/select al 100% */
  padding: 8px; /* Espaciado interno */
  margin-bottom: 8px; /* Espaciado inferior */
}

.reminder-input-container label {
  margin-bottom: 4px; /* Espaciado inferior */
}

.reminder-input-container button {
  width: 100%; /* Ancho del botón al 100% */
  margin-top: 10px; /* Espaciado superior */
}
.newreminder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.background {
  background-color: #c2a88f;
  padding-bottom: 60px;
}
.reminder-form-repeat {
  align-self: center;
}
