.user-container {
  height: auto; /* Altura automática para adaptarse al contenido */
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center;
  align-items: center;
}

.user-dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos al principio del contenedor */
  max-width: 800px;
}

.links-container {
  width: 95vw;

  background-color: #fff2fa;
  border-radius: 8px;
}

.links-user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 400px;
}

.link-item > button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #023247;
}
.link-text a {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #023247;
  font-size: 20px;
  font-weight: 600; /* Usa el color de texto predeterminado */
}

.link-item {
  display: flex;
  margin: 20px;
  gap: 15px;

  /* Añade espacio entre cada fila de enlaces */
}

.icon-links {
  width: 25px;
  height: 25px;
}

.link-text {
  display: flex;
  align-items: center;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #834d7e;
  border-radius: 50px;
  color: #ffe9f6;
}

.arrow-link {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  color: white;
  font-size: 30px;
  margin-left: 50px;
  position: relative;
}
