.navbar-container {
  background: white;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar-icons {
  width: 40px;
  height: 40px;
  margin: 20px;
  border-radius: 50%; /* Hace que la imagen sea redonda */
  overflow: hidden;
  object-fit: cover;
  }

.placeholder-circle {
  /* Estilos para el círculo de marcador de posición */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightgrey; /* Color de fondo del círculo de marcador de posición */
}